
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">User <strong><%= message.user.username %></strong> wrote:</h3>
    </div>
    <div class="panel-body">
    <%= message.body %>
    </div>
  </div>
